* {
  box-sizing: border-box;
}
body {
  background-image: url(background.jpg);
  background-size: cover;
  margin: auto 20%;
}
.container {
  background-color: #191919a1;
  border-radius: 15px;
  padding: 8%;
  margin-top: 30px;
}
header {
  text-align: center;
}
main {
  color: white;
}
.img-logo {
  width: 250px;
}
h1 {
  font-family: arial;
  color: rgb(11, 177, 11);
}
nav {
  background-color: rgb(11, 177, 11);
  padding: 8px;
}
.subtitle {
  font-family: arial;
  font-size: 20px;
  margin-top: 30px;
}
hr {
  border-radius: 6px;
  margin-left: 0;
  border: 0;
}
#first-bar {
  background-color: orange;
  height: 30px;
  width: 40%;
}
#second-bar {
  background-color: rgb(11, 177, 11);
  height: 30px;
  width: 60%;
}
#third-bar {
  background-color: red;
  height: 30px;
  width: 20%;
}
